body {
    padding: 0px;
    margin: 0px;
    font-family: 'gill sans';
    background-color: white;
    /* background-image: url(bg_img.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 1080px; */
    background: url(bg_img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo-font {
    font-family: 'Pacifico', cursive;
    font-size: 16px;
    color: rgba(195, 68, 122);
    /* -webkit-text-stroke: 0.01px yellow; */
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:white;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: tomato;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: medium;
    font-size: 14px;
    border-radius: 15px;
    padding: 10px 15px;
    width: 150px;
}

.nav-links a:hover {
    color: white;
    background-color: rgb(255, 230, 88);
}

.menu-bar {
    display: none;
}

.menu-bar div {
    width: 25px;
    height: 3px;
    border-radius: 8px;
    background-color: rgba(195, 68, 122);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
   .nav-links {
      width: 40%;
    }
}

@media screen and (max-width: 768px){
    body {
        overflow: hidden;
    }
    .nav-links {
       position: absolute;
       right: 0px;
       height: 95vh;
       top: 6vh;
       background-color: white;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 50%;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
     }
     .nav-links li {
         opacity: 0;
     }
     .menu-bar {
         display: block;
     }
 }

 .nav-active {
     transform: translateX(0%);
 }

 @keyframes navLinkFade {
     from {
         opacity: 0;
         transform: translateX(50px);
     }
     to {
         opacity: 1;
         transform: translateX(0px);
     }
 }

.toggle .line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
 }

.toggle .line-2 {
    opacity: 0;
}

.toggle .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: white;
    color: rgb(250, 133, 112);
    font-weight: light;
    font-size: 12px;
    text-align: center;
  }
